<div
  :key="key"
  id="play-area"
  class="w-full border-2 border-black flex flex-col justify-center mx-auto h-[500px] rounded-md relative overflow-hidden"
>
  <div
    v-if="!started"
    class="start-screen absolute top-[50%] left-[50%] translate-x-[-50%] z-10"
  >
    <button
      class="bg-white px-5 py-3 rounded-md hover:bg-amber-50"
      @click="startGame"
    >
      Start game
    </button>
  </div>
  <div
    class="background bg-blue-200 w-full h-full flex content-end flex-wrap relative overflow-hidden"
    :class="{'brightness-50': !started}"
  >
    <div class="score absolute top-5 right-5">Score: {{score}}</div>
    <character />
    <Component
      v-for="obstacle in obstacles"
      :is="obstacle.type"
      :show="obstacle.show"
      ref="obstacleRefs"
      @destroy="destroyObstacle"
      :ID="obstacle.ID"
      :key="obstacle.ID"
    ></Component>

    <Component
      v-for="berry in berries"
      :is="berry.type"
      ref="berryRefs"
      @destroy="destroyBerry"
      :ID="berry.ID"
      :key="berry.ID"
    />
  </div>
  <div
    class="ground bg-green-500 h-[100px] w-full"
    :class="{'brightness-50': !started}"
  ></div>
</div>

<h1>Last score: {{lastScore}}</h1>
<h1>Highscore: {{highscore}}</h1>
